{% extends "_template.jinja" %}

{% block css %}
<link href="/carousel.css" rel="stylesheet">
{% endblock %}

{% block title %}ホーム{% endblock %}

{% block home_active %}active{% endblock %}

{% block main %}
<div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel" data-bs-theme="light">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true"
      aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="bd-placeholder-img" width="100%" src="workshop.jpg" />
      <div class="container">
        <div class="carousel-caption text-start">
          <h1>中学生と共に探究する。</h1>
          <p>探究道場では、中学生向け探究型ワークショップを開催しています。</p>
          <p><a class="btn btn-lg btn-primary" href="/workshop">ワークショップについて</a></p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
        aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
        <rect width="100%" height="100%" fill="var(--bs-secondary-color)" />
      </svg>
      <div class="container">
        <div class="carousel-caption">
          <h1>全国の高校と連携する。</h1>
          <p>京都市立堀川高校から始まった探究道場は、現在全国の高校10校で連携して活動しています。</p>
          <p><a class="btn btn-lg btn-primary" href="/cooperation">連携をお考えの方へ</a></p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
        aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
        <rect width="100%" height="100%" fill="var(--bs-secondary-color)" />
      </svg>
      <div class="container">
        <div class="carousel-caption text-end">
          <h1>数々の大会で受賞。</h1>
          <p></p>
          <p><a class="btn btn-lg btn-primary" href="/award">もっと見る</a></p>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">前へ</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">次へ</span>
  </button>
</div>

<div class="container marketing">
  <div class="row">
    <div class="col-lg-4">
      <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
        role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false">
        <title>Placeholder</title>
        <rect width="100%" height="100%" fill="var(--bs-secondary-color)" />
      </svg>
      <h2 class="fw-normal">参加する</h2>
      <p>
        全国各地の高校で実施しています。詳細は以下のリンクから。
      </p>
      <p><a class="btn btn-secondary" href="/workshop">参加する &raquo;</a></p>
    </div>
    <div class="col-lg-4">
      <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
        role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false">
        <title>Placeholder</title>
        <rect width="100%" height="100%" fill="var(--bs-secondary-color)" />
      </svg>
      <h2 class="fw-normal">連携する</h2>
      <p>
        探究道場は連携校を募集しています。
        全国の高校と連携して探究道場をデザインしませんか。
      </p>
      <p><a class="btn btn-secondary" href="/cooperation">連携する &raquo;</a></p>
    </div>
    <div class="col-lg-4">
      <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
        role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false">
        <title>Placeholder</title>
        <rect width="100%" height="100%" fill="var(--bs-secondary-color)" />
      </svg>
      <h2 class="fw-normal">ニュース</h2>
      <p>今までの活動履歴や次回のワークショップについて告知します。</p>
      <p><a class="btn btn-secondary" href="#">ニュースを見る &raquo;</a></p>
    </div>
  </div>

  <hr class="featurette-divider">

  <h1>What is Tankyu-Dojo ?</h1>

  <div style="text-align: center;">
    <iframe width="752" height="423" src="https://www.youtube.com/embed/YFIhAbQgPF4" title="【β版】探究道場PV" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </div>

  <hr class="featurette-divider">

  <h1>探究道場の特長</h1>

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1">高校生だけで運営</h2>
      <p class="lead">
        探究道場の運営は高校生が主体にやっており、教員が関わることはほとんどありません。
        ワークショップに向けた予備実験、スライドの作成、当日の運営、また学校間の連携などはすべて高校生が行います。
      </p>
    </div>
    <div class="col-md-5">
      <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
        height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
        preserveAspectRatio="xMidYMid slice" focusable="false">
        <title>Placeholder</title>
        <rect width="100%" height="100%" fill="var(--bs-secondary-bg)" /><text x="50%" y="50%"
          fill="var(--bs-secondary-color)" dy=".3em">500x500</text>
      </svg>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading fw-normal lh-1">
        <span class="text-body-secondary">高校生の</span>
        能力の向上
      </h2>
      <p class="lead">
        中学生に探究の手法を伝えるワークショップの準備・運営を通して、高校生も探究に関する能力を身につけることができます。
      </p>
    </div>
    <div class="col-md-5 order-md-1">
      <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
        height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
        preserveAspectRatio="xMidYMid slice" focusable="false">
        <title>Placeholder</title>
        <rect width="100%" height="100%" fill="var(--bs-secondary-bg)" /><text x="50%" y="50%"
          fill="var(--bs-secondary-color)" dy=".3em">500x500</text>
      </svg>
    </div>
  </div>

  <hr class="featurette-divider">

  <hr class="featurette-divider">

</div>
{% endblock %}